.lab {
	width: 700px;
}

.button {
	background: #e1e1e1;
	background: -moz-linear-gradient(top, #e1e1e1 0%, #cccccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e1e1e1),
		color-stop(100%, #cccccc) );
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#e1e1e1',
		endColorstr='#cccccc', GradientType=0 );
	border: 1px solid #c4c4c4;
	border-radius: 4px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, .25);
	padding: 8px 15px;
	display: inline-block;
	box-shadow: rgba(255, 255, 255, 0.25) 0 0 15px;
	-moz-box-shadow: rgba(255, 255, 255, 0.25) 0 0 15px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.25) 0 0 15px;
	color: #444;
	font-weight: bold;
	margin-right: 10px;
	font-size: 20px;
	font-family: Arial, Georgia;
}